<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <title>Edit Page</title>
</head>
<body>


<% if(locals.review){%>
    <header>
        <h1>Edit Post</h1>
    </header>
    <form action="/edit/<%=id%>" method="post">
    <div class="container edits">
        
            <label class="input" for="title"><span>Title:</span></label>
            <input name="title" type="text" id="title" value="<%=review.title%>">
            <img src="<%=review.cover_url%>" alt="book cover">
            <label for="review"><span>Review:</span></label>
            <textarea name="review" id="review" contenteditable="true"><%=review.review%></textarea>
            <label for="author"><span>Author:</span> </label>
            <input type="text" name="author" id="author" value="<%=review.author%>" placeholder="Author">
            <label for="rating"><span>Rating:</span> </label>
            <input type="text" name="rating" value= "<%=review.rating%>" id="rating">
            <button type="sumbit">Submit</button>
    </div>
</form>

<%} else if(locals.book){%>
    <header>
        <h1>Create Your New Post Here</h1>
    </header>
    <form action="/new" method="post">
    <div class="container edits">
            <input name="title" type="text" value= "<%=title%>">
            <textarea name="review" id="review" placeholder="Review"></textarea>
            <input type="text" name="author" id="author" value="<%=book.author%>" placeholder="Author">
            <input type="text" name="rating" placeholder="rating" id="rating">
            <button type="sumbit" >Finish</button>
      
    </div>
</form>
<%}else {%>
    <header>
        <h1>Create Your New Post Here</h1>
    </header>
    <form action="/new" method="post">
    <div class="container edits">
       
            <input name="title" type="text" placeholder="Book Title">
            <a href="#" onclick="autofill()">Autofill</a>
            <textarea name="review" id="review" placeholder="Review"></textarea>
            <input type="text" name="author" id="author" placeholder="Author">
            <input type="text" name="rating" placeholder="rating" id="rating">
            <button type="sumbit" >Finish</button>   
    </div>
</form>
<% } %>


</body>
<script>
  
    function autofill(){
        const title = document.querySelector('input[name="title"]').value;
        const url = `/info?title=${encodeURIComponent(title)}`;
        console.log(url);
        window.location.href = url;
    }
    var observe;
if (window.attachEvent) {
    observe = function (element, event, handler) {
        element.attachEvent('on'+event, handler);
    };
}
else {
    observe = function (element, event, handler) {
        element.addEventListener(event, handler, false);
    };
}

    var text = document.getElementById('review');
    function resize () {
        text.style.height = 'auto';
        text.style.height = text.scrollHeight+'px';
    }
    /* 0-timeout to get the already changed text */
    function delayedResize () {
        window.setTimeout(resize, 0);
    }
    observe(text, 'change',  resize);
    observe(text, 'cut',     delayedResize);
    observe(text, 'paste',   delayedResize);
    observe(text, 'drop',    delayedResize);
    observe(text, 'keydown', delayedResize);

    text.focus();
    text.select();
    resize();

    
 
    </script>
</html>