<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
<header>
    <h1>Book Reviews</h1>
   

</header>

    <div class="container">
        <a href="/new" class="button" id="new">New</a>
    <%if (reviews) {%>
        <%reviews.forEach(review =>{%>
            
            <img src=<%=review.cover_url%> alt="book cover">
            <div class="item"><span class="title">Title: </span><%=review.title%></div>
            <div class="item"><span class="title">Author: </span>Author: <%=review.author%></div>
            <label for="review" id="rLabel"><span class="title">Review: </span></label>
            <div class="item" id="review"><%=review.review%></div>
            <div class="item" id="rating"><span class="title">Rating: </span><%=review.rating%>/5</div>
            <div class="item edit"><a class="button" href="/edit/<%=review.id%>" name="edit" id="edit">Edit</a></div>
            <div class="item edit"><a class="button" href="/delete/<%=review.id%>">delete</a></div>
            
            </br>
        <%});%>
    <%}else{%>
        <h1>no books in database</h1>
    <% } %>



    </div>

</body>
</html>

